In [14]:
##1) Write a function that takes a list of numbers  and retuen their average

##function

def average(nums):
    if len(nums)==0:
        return"Invalid"
    avg=sum(nums)/len(nums)
    return avg

## List Comprehension
nums=[10,20,30]
avg=[sum(nums)/len(nums) for i in nums if nums!=0] ## Technically wrong

### Lambda function

lst= lambda x : sum(x)/len(x)
lst([10,20,30])

20.0

In [43]:
##2) Palindrome

def palindrome(text):
    if text==text[::-1]:
        return "Palindrome"

def palindrome_using_forloop(text):
    text1=[]
    for i in range(len(text)-1,-1,-1):
        text1.append(text[i])
    text1="".join(text1)
    if text==text1:
        return "palindrome"

In [42]:
palindrome_using_forloop("madam")

madam

'palindrome'

In [23]:
palindrome("madam")

'Palindrome'

### LIST COMPREHENSION

In [2]:
#3) From a list of words, make a new list with only words longer than 3 letters.
words = ["hi", "hello", "sun", "world"]
# Output: ['hello', 'world']

long_words=[word for word in words if len(word)>3]
long_words

['hello', 'world']

In [3]:
#4)4. Create a list of all numbers from 1 to 20 that are divisible by 3 or 5.

lst=[num for num in range(21) if (num%3==0) or (num%5==0)]
lst

[0, 3, 5, 6, 9, 10, 12, 15, 18, 20]

### LAMBDA FUNCTIONS

In [9]:
#5)Use map() and lambda to double each number in the list.

nums= [1,2,3,4,5]

lst=list(map(lambda x : x *2,nums))
lst

[2, 4, 6, 8, 10]

In [13]:
#6)Use filter() and lambda to keep only names starting with 'A'.
lst=["Apoorva", "Vijay","Anukusha","Anu","Nitin"]
temp=list(filter(lambda name : name.startswith("A"), lst))
temp

['Apoorva', 'Anukusha', 'Anu']

In [15]:
temp =[name for name in lst if name.startswith("A")]
temp

['Apoorva', 'Anukusha', 'Anu']

### FUNCTIONS

In [17]:
#7)Problem: Write a function that counts how many vowels are in a string.

def count_vowels(text):
    count=0
    vow='AEIOUaeiou'
    for i in text:
        if i in vow:
            count+=1
    return count

In [19]:
count_vowels("PYTHON IS FUN TO LEARN")

6

In [ ]:
#8)Reverse the string

In [26]:
def rev_str(text):
    rev=[]
    for i in range(len(text)-1,-1,-1):
        rev.append(text[i])
    new_str="".join(rev)
    return new_str

In [27]:
rev_str("apoorva")

'avroopa'

In [28]:
#9)stair pattern

def stair(n):
    for i in range(1,n+1):
        for j in range(i):
            print("*", end="")
        print()

In [29]:
stair(5)

*
**
***
****
*****

In [33]:
#10)Reverse stair

def rev_stair(n):
    for i in range(n,0,-1):
        for j in range(i):
            print("*", end="")
        print()
        
rev_stair(5)

*****
****
***
**
*

In [65]:
#11)list of string


def rev_list(lst):
    new_lst=[]
    for i in lst:
        word=""
        for j in range(len(i)-1,-1,-1):
            word=word+i[j]
        new_lst.append(word)
    return new_lst

In [74]:
rev_list(["apple","mango","banana"])

['elppa', 'ognam', 'ananab']

In [83]:
#12) Find factorial of a number (using loop).
def fact(n):
    if (n==0) or (n==1):
        return 1
    return n*fact(n-1)

In [84]:
fact(5)

120

In [98]:
#13) GCD
a,b=200,80
def GCD(a,b):
    for i in range(max(a,b),0,-1):
        if(a%i==0) and (b%i==0):
            return i

In [99]:
GCD(200, 80)

40

In [101]:
#14) count unique alphabets in string
##input ='aaabbbccddeabc'
## Output=abcde
def uniq(string):
    store=""
    for i in range(0,len(string)):
        if string[i] in store:
            pass
        else:
            store=store+string[i]
    return store

In [103]:
uniq("aaabbbccddeabc")

'abcde'

In [105]:
def uniq(string):
    dic={}
    for i in string:
        dic[i]=dic.get(i,0)+1
    return dic

In [106]:
uniq("aaabbbccddeabc")

{'a': 4, 'b': 4, 'c': 3, 'd': 2, 'e': 1}

In [130]:
#15)Find all prime numbers up to N.

def prime(num):
    prime_num=[]
    
    i=j=0
    for i in range(2,num+1):
        is_prime=True
        
        for j in range(2, int(i**0.5)+1):
            if i%j==0:
                is_prime=False
                break
        if is_prime:
            prime_num.append(i)
    return prime_num

In [142]:
prime(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [149]:
#16)Return the Fibonacci series up to N terms.

def fibonacci(num):
    if num==0:
        return 0
    if num==1:
        return 1
    return fibonacci(num-1)+fibonacci(num-2)

def fibo(num):
    a,b=0,1
    fib=[]
    if num == 0:
        return 0
    if num==1:
        return 1
    for i in range(num):
        fib.append(a)
        a,b=b,a+b
    return fib

In [150]:
fibonacci(10)

55

In [157]:
def fibo(num):
    a,b=0,1
    fib=[]
    if num == 0:
        return 0
    if num==1:
        return 1
    for i in range(num):
        fib.append(a)
        a,b=b,a+b
    return fib

In [161]:
fibo(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]


## 2. List Comprehension (10 Problems)

Easy – Generate a list of squares from 1 to 10.

Easy – Filter only even numbers from a list.

Easy – Convert all strings in a list to lowercase.

Medium – Get all words longer than 4 characters.

Medium – Create a list of (number, square) for numbers divisible by 3.

Medium – Flatten a 2D list.


Hard – Replace all negative numbers in a list with 0.

Hard – Extract digits from a string into a list.

Hard – Remove duplicates from a list using set + comprehension.

Very Hard – Create a matrix (nested list) of N×N filled with 1s.

In [167]:
#17)Generate a list of squares from 1 to 10.
num=10
sqr=[i*i for i in range(num+1)]
sqr

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [169]:
#18)Filter only even numbers from a list.
n=10
num=[i for i in range(n) if i%2==0]
num

[0, 2, 4, 6, 8]

In [176]:
#19)Convert all strings in a list to lowercase.
text="ApOOrva"
case=["".join(i.lower() for i in text)]
print(case[0])

apoorva

In [178]:
#20)Get all words longer than 4 characters.
lst=["apple","mango","banana","fig"]
long_words=[i for i in lst if len(i)>=4]
long_words

['apple', 'mango', 'banana']

In [180]:
#21)Create a list of (number, square) for numbers divisible by 3.
n=10
div=[i for i in range(n) if i%3==0]
div

[0, 3, 6, 9]

In [191]:
#22)Flatten a 2D list.
a=[[1,2,3],[4,5,6]]
lst2=[s for i in a for s in i]
lst2

[1, 2, 3, 4, 5, 6]

In [197]:
#23)Replace all negative numbers in a list with 0.
A=[1,-1,2,3,-9,0,-7]
lst3=[i for i in A if i>0]
lst3

[1, 2, 3]

In [203]:
#24)Extract digits from a string into a list.

string="Apoo123rva1996"

lst4=[i for i in string if i.isdigit()]
lst4

['1', '2', '3', '1', '9', '9', '6']

In [209]:
#25)Remove duplicates from a list using set + comprehension.
lst=["A","B","C","A","D","B"]
lst5=[{x for x in lst}]
lst5

[{'A', 'B', 'C', 'D'}]

In [214]:
#26)Create a matrix (nested list) of N×N filled with 1s.
n=3
create_matrix=[[1 for _ in range(n)] for _ in range(n)]
create_matrix

[[1, 1, 1], [1, 1, 1], [1, 1, 1]]

### 3. Lambda Functions (10 Problems)
Easy – Add 5 to a number.

Easy – Multiply two numbers.

Easy – Get the length of a string.

Medium – Use map() + lambda to get squares of all list elements.

Medium – Use filter() + lambda to keep strings starting with 'a'.

Medium – Sort a list of tuples by second element using lambda.

Hard – Use reduce() + lambda to calculate the product of a list.

Hard – Use lambda inside sorted() to sort strings by length.

Very Hard – Sort list of dictionaries by a key using lambda.

Very Hard – Chain map(), filter(), lambda to get even squares above 10.

Note: Complex logic like state tracking or multi-step conditionals → not possible with lambda.