In [ ]:
#Pattern 1

for i in range(0, 5):
  for j in range(0,5):
    print("*", end=' ')
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#Pattern 2

for i in range(1,6):
  for j in range(i):
    print("*", end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
#Pattern 3

for i in range(1,6):
  for j in range(1,i+1):
    print(j, end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#Pattern 4

for i in range(1,6):
  for j in range(1,i+1):
    print(i, end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#Pattern 6

for i in range(5,0,-1):
  for j in range(0,i):
    print("*", end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
#Pattern 7

for i in range(5,0,-1):
  for j in range(1,i+1):
    print(j, end=' ')
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#Pattern 8

for i in range(1,6):
  for j in range(5,i,-1):
    print(" ", end=' ')
  for k in range(2*i-1):
    print("*", end=' ')
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
#Pattern 9


for i in range(5,0,-1):
  for j in range(5,i,-1):
    print(" ", end=' ')
  for k in range(2*i-1):
    print("*", end=' ')
  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
#Pattern 9

for i in range(1,6):
  for j in range(5,i,-1):
    print(" ", end=' ')
  for k in range(2*i-1):
    print("*", end=' ')
  print()

for i in range(5,0,-1):
  for j in range(5,i,-1):
    print(" ", end=' ')
  for k in range(2*i-1):
    print("*", end=' ')
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
#Pattern 10


for i in range(0,5):
  for j in range(i+1):
    print("*", end=' ')
  print()

for i in range(6,0,-1):
  for j in range(i):
    print("*", end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#Pattern 11

for i in range(0,5):
  for j in range(i+1):
    print("*",end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
#Pattern 12
n=int(input("Enter the number of row: "))
space=2*(n-1)
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j, end='')
  for k in range(1, space+1):
    print(' ', end='')
  for l in range(i,0,-1):
    print(l, end='')
  space=space-2
  print()

Enter the number of row: 4
1      1
12    21
123  321
12344321

In [ ]:
#Pattern13

n=int(input("Enter the number of row: "))
num=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(num,end=' ')
    num=num+1

  print()

Enter the number of row: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
#Pattern 14

n=int(input("Enter the number of row: "))
for i in range(1,n+1):
  for j in range(0,i):
    print(chr(65+j), end=' ')
  print()

Enter the number of row: 5
A
A B
A B C
A B C D
A B C D E

'A'

In [ ]:
#Pattern 15

n=int(input("Enter the number of row: "))
for i in range(n,0,-1):
  for j in range(0,i):
    print(chr(65+j), end=' ')
  print()

Enter the number of row: 5
A B C D E
A B C D
A B C
A B
A

In [ ]:
#Pattern 16

n=int(input("Enter the number of row: "))
for i in range(0,n):
  for j in range(0,i+1):
    print(chr(65+i), end=' ')
  print()

Enter the number of row: 5
A
B B
C C C
D D D D
E E E E E

In [ ]:
#Pattern Bonus

n=int(input("Enter the number of row: "))
for i in range(1,n+1):
  for j in range(n,i,-1):
    print(" ", end=' ')
  for k in range(2*i-1):
    print(chr(64+i), end=' ')
  print()

Enter the number of row: 5
        A
      B B B
    C C C C C
  D D D D D D D
E E E E E E E E E

In [ ]:
#Pattern 17

n=int(input("Enter the number of row: "))
for i in range(1,n+1):
  for j in range(n,i,-1):
    print(" ", end='')
  for k in range(1,i+1):
    print(chr(64+k), end='')
  for k in range(i-1,0,-1):
    print(chr(64+k), end='')
  print()

Enter the number of row: 5
    A
   ABA
  ABCBA
 ABCDCBA
ABCDEDCBA

In [ ]:
#Pattern 18

n=int(input("Enter the number of row: "))
for i in range(0,n):
  for j in range(i+1,0,-1):
    print(chr(70-j),end=' ')
  print()

Enter the number of row: 5
E
D E
C D E
B C D E
A B C D E

In [ ]:
#Pattern 19

n=int(input("Enter the number of row: "))

for i in range(1,n+1):
  for j in range(n-i+1):
    print("*", end='')
  for k in range(2*i-2):
    print(" ", end='')
  for l in range(n-i+1):
    print("*", end='')
  print()

for i in range(n,0,-1):
  for j in range(n-i+1):
    print("*", end='')
  for k in range(2*i-2):
    print(" ", end='')
  for l in range(n-i+1):
    print("*", end='')
  print()

Enter the number of row: 5
**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********

In [ ]:
#Pattern 20

n=int(input("Enter the number of row: "))
for i in range(n,0,-1):
  for j in range(n-i+1):
    print("*", end='')
  for k in range(2*i-2):
    print(" ", end='')
  for l in range(n-i+1):
    print("*", end='')
  print()
for i in range(2,n+1):
  for j in range(n-i+1):
    print("*", end='')
  for k in range(2*i-2):
    print(" ", end='')
  for l in range(n-i+1):
    print("*", end='')
  print()

Enter the number of row: 5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [ ]:
#Pattern 21

n=int(input("Enter the number of rows: "))
for i in range(0,n):
  for j in range(0,n):
    if(i==0 or j==0 or i==n-1 or j==n-1):
      print("*", end='')
    else:
      print(" ", end='')
  print()

Enter the number of rows: 5
*****
*   *
*   *
*   *
*****