In [ ]:
#Pattern 1

for i in range(0, 5):
  for j in range(0,5):
    print("*", end=' ')
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#Pattern 2

for i in range(1,6):
  for j in range(i):
    print("*", end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
#Pattern 3

for i in range(1,6):
  for j in range(1,i+1):
    print(j, end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#Pattern 4

for i in range(1,6):
  for j in range(1,i+1):
    print(i, end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#Pattern 6

for i in range(5,0,-1):
  for j in range(0,i):
    print("*", end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
#Pattern 7

for i in range(5,0,-1):
  for j in range(1,i+1):
    print(j, end=' ')
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#Pattern 8

for i in range(1,6):
  for j in range(5,i,-1):
    print(" ", end=' ')
  for k in range(2*i-1):
    print("*", end=' ')
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
#Pattern 9


for i in range(5,0,-1):
  for j in range(5,i,-1):
    print(" ", end=' ')
  for k in range(2*i-1):
    print("*", end=' ')
  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
#Pattern 9

for i in range(1,6):
  for j in range(5,i,-1):
    print(" ", end=' ')
  for k in range(2*i-1):
    print("*", end=' ')
  print()

for i in range(5,0,-1):
  for j in range(5,i,-1):
    print(" ", end=' ')
  for k in range(2*i-1):
    print("*", end=' ')
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
#Pattern 10


for i in range(0,5):
  for j in range(i+1):
    print("*", end=' ')
  print()

for i in range(6,0,-1):
  for j in range(i):
    print("*", end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [41]:
#Pattern 11

for i in range(0,5):
  for j in range(i+1):
    print("*",end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [43]:
#Pattern 12
n=int(input("Enter the number of row: "))
space=2*(n-1)
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j, end='')
  for k in range(1, space+1):
    print(' ', end='')
  for l in range(i,0,-1):
    print(l, end='')
  space=space-2
  print()

Enter the number of row: 4
1      1
12    21
123  321
12344321

In [53]:
#Pattern13

n=int(input("Enter the number of row: "))
num=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(num,end=' ')
    num=num+1

  print()

Enter the number of row: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [68]:
#Pattern 14

n=int(input("Enter the number of row: "))
for i in range(1,n+1):
  for j in range(0,i):
    print(chr(65+j), end=' ')
  print()

Enter the number of row: 5
A
A B
A B C
A B C D
A B C D E

'A'

In [71]:
#Pattern 15

n=int(input("Enter the number of row: "))
for i in range(n,0,-1):
  for j in range(0,i):
    print(chr(65+j), end=' ')
  print()

Enter the number of row: 5
A B C D E
A B C D
A B C
A B
A

In [78]:
#Pattern 16

n=int(input("Enter the number of row: "))
for i in range(0,n):
  for j in range(0,i+1):
    print(chr(65+i), end=' ')
  print()

Enter the number of row: 5
A
B B
C C C
D D D D
E E E E E

In [ ]:
#Pattern 17

n=int(input("Enter the number of row: "))
for i in range(1,n+1):
  for j in range(0,i):
    print(chr(65+j), end=' ')
  print()

Enter the number of row: 5
A
A B
A B C
A B C D
A B C D E

In [97]:
#Pattern 17

n=int(input("Enter the number of row: "))
for i in range(1,n+1):
  for j in range(n,i,-1):
    print(" ", end=' ')
  for k in range(2*i-1):
    print(chr(65+i), end=' ')
  print()

Enter the number of row: 4
      B
    C C C
  D D D D D
E E E E E E E