## Problem Statements
### 1) Write a code to get the input in the given format and print the output in the given format.

**Input Description:**
A single line contains a string.

**Output Description:**
Print the characters in a string separated by comma.

Sample Input :
Python
Sample Output :
P,y,t,h,o,n

In [30]:
a=input()
print(",".join(a))

Python
P,y,t,h,o,n

In [31]:
### without join method

a=input()
n=len(a)
if n>0:
    for i in a[:n-1]:
        print(i, end=",")
    print(a[n-1])

Python
P,y,t,h,o,n

### 2) Write a code to get the input in the given format and print the output in the given format


**Input Description:**
A single line contains a string.

**Output Description::**
Print the characters in a string separated by space.

Sample Input :
python
Sample Output :
p y t h o n

In [33]:
print(" ".join(a))

P y t h o n

In [35]:
for i in a[:n-1]:
    print(i, end=" ")
print(a[n-1])

P y t h o n

### 3) Write a code get an integer number as input and print the odd and even digits of the number separately.


**Input Description:**
A single line containing an integer.

**Output Description:**
Print the even and odd integers of the integer in a separate line.

Sample Input :
1234
Sample Output :


`2 4`  
`1 3`

In [50]:
t=input()
n=len(t)
even =[]
odd=[]
for i in t:
    if int(i)%2==0:
        even.append(i)
    else:
        odd.append(i)
even.sort()
odd.sort()
print(*even)
print(*odd)

1234
2 4
1 3

In [53]:
### using list comprehenison

even=sorted([i for i in t if int(i)%2==0])
odd=sorted([i for i in t if int(i)%2!=0])
print(*even)
print(*odd)

2 4
1 3

### 4) You are provided with a number check whether its odd or even. 

Print "Odd" or "Even" for the corresponding cases.

Note: In case of a decimal, Round off to nearest integer and then find the output. Incase the input is zero, print "Zero".


**Input Description:**
A number is provided as the input.

**Output Description:**
Find out whether the number is odd or even. Print "Odd" or "Even" for the corresponding cases. Note: In case of a decimal, Round off to nearest integer and then find the output. In case the input is zero, print "Zero".

Sample Input :
2
Sample Output :
Even

In [58]:
num=float(input())

num=round(num)

if num%2==0:
    print("Even")
else:
    print("Odd")

22
Even

In [70]:
store=["Even" if num%2==0 else "Odd"]
print(*store)

Even

### 5) Given list of Tuple print as following

**Input** : employees=[(101, 'Alice','HR'),(102,'Bob','Engineering'),(103,'Charles','Marketing')]

**Output** : Enter the Employee ID: 102
Name: Bob   Dept: Engineering

In [85]:
employees=[(101, 'Alice','HR'),(102,'Bob','Engineering'),(103,'Charles','Marketing')]

In [86]:
employees

[(101, 'Alice', 'HR'),
 (102, 'Bob', 'Engineering'),
 (103, 'Charles', 'Marketing')]

In [98]:
search_id=int(input("Enter the Employee ID: "))
for emp in employees:
    if search_id ==  emp[0]:
        print("Name:",emp[1]," ","Dept:", emp[2])
        break
else:
    print("Not Found , Try again!")

Enter the Employee ID: 102
Name: Bob   Dept: Engineering

In [106]:
###Do it using Dictionary

employees={
    101:('Alice', 'HR'),
    102:('Bob', 'Engineering'),
    103:('Charles', 'Marketing')
}

try:
    if search_id in employees:
        name,dept=employees[search_id]
        print("Name:", name," ","Dept:",dept)
except ValueError:
    print("Invalid Input")

Name: Bob   Dept: Engineering

### 6) Student grade classification problem . you have a dictionary where student names are keys and thier marks (out 0f 100) are the values. Classify students are:

### "Excellent" (marks) >=90

### "Good" (marks between 70 -89)

### "Needs Improvement (marks < 70)"

Students={'Alice':92,'Bob':85,'Charles':65}

**Output Expected**

{'Alice':'Excellent','Bob':'Good','Charles':'Needs Improvement')}

In [147]:
students={'Alice':92,'Bob':85,'Charles':65}

In [143]:
dict={}
for key, value in students.items():
    if value >= 90:
        dict[key]="Excellent"
    elif value >70 and value < 89:
        dict[key]="Good"
    elif value < 69:
        dict[key]="Needs Improvement"
dict

{'Alice': 'Excellent', 'Bob': 'Good', 'Charles': 'Needs Improvement'}

What if I what output like this?

{'Alice': (92,'Excellent'), 'Bob': (85,'Good'), 'Charles': (65,'Needs Improvement')}

In [151]:

classified_students={}
for key, value in students.items():
    if value >= 90:
        classification="Excellent"
    elif value >=70 and value <=89:
        classification="Good"
    else:
        classification="Needs Improvement"

    classified_students[key]=(value, classification)

classified_students

{'Alice': (92, 'Excellent'),
 'Bob': (85, 'Good'),
 'Charles': (65, 'Needs Improvement')}

### 7)  Reverse a Dictionary

Description:
    
Given a dictionary, create a new dictionary with keys and values swapped.

**Input:**

d = {'a': 1, 'b': 2, 'c': 3}

**Expected Output:**

{1: 'a', 2: 'b', 3: 'c'}

In [161]:
d = {'a': 1, 'b': 2, 'c': 3}

In [165]:
reversed_d={value : key for key, value in d.items()}
reversed_d

{1: 'a', 2: 'b', 3: 'c'}

### 8) Merge Two Dictionaries

Description:
Given two dictionaries, merge them into one. If the same key exists in both, the value from the second dictionary should overwrite the first.

**Input**

d1 = {'a': 1, 'b': 2}

d2 = {'b': 3, 'c': 4}

**Expected Output:**
    
{'a': 1, 'b': 3, 'c': 4}

In [176]:
merge={**d1,**d2}
merge

{'a': 1, 'b': 3, 'c': 4}

### 9) Count Frequency of Characters in a String
Description:
Write a program that takes a string as input and returns a dictionary with the frequency of each character.

**Input:**

s = "cars"

**Expected Output:**

{'c': 1, 'a': 1, 'r': 1, 's': 1}

In [200]:
s=input()
freq={}

for key in s:
    freq[key]=freq.get(key,0)+1
    
freq

cars

{'c': 1, 'a': 1, 'r': 1, 's': 1}

In [204]:
###Alternate Solution

from collections import Counter


s=input()
freq=Counter(s)
freq

cars

Counter({'c': 1, 'a': 1, 'r': 1, 's': 1})

In [226]:
### if you want sorted

s=input()
freq={}
for key in s:
    freq[key]=freq.get(key,0)+1
print(freq)    
for key in sorted(freq):
    print(f'{key}:{freq[key]}')

cars
{'c': 1, 'a': 1, 'r': 1, 's': 1}
a:1
c:1
r:1
s:1

### 10) Group Words by Their First Letter
Description:
Given a list of words, create a dictionary where each key is the first letter of a word and the value is a list of words that start with that letter.

**Input**

words = ["apple", "banana", "avocado", "cherry", "blueberry"]

**Expected Output**


{'a': ['apple', 'avocado'], 'b': ['banana', 'blueberry'], 'c': ['cherry']}

In [234]:
freq={}
words = ["apple", "banana", "avocado", "cherry", "blueberry"]

for word in words:
    key=word[0].lower()
    if key in freq:
        freq[key].append(word)
    else:
        freq[key]=[word]

In [235]:
freq

{'a': ['apple', 'avocado'], 'b': ['banana', 'blueberry'], 'c': ['cherry']}

### 11) Find the Most Frequent Element in a List
Description:

Write a program that finds the most frequent element in a list and returns it along with its frequency as a tuple.

**Input:**

lst = [1, 3, 2, 3, 4, 3, 2, 1, 3]

**Expected Output:**

(3, 4)  # Element 3 appears 4 times.

In [236]:
dict ={}
lst = [1, 3, 2, 3, 4, 3, 2, 1, 3]
for key in lst:
    dict[key]=dict.get(key,0)+1

In [237]:
dict

{1: 2, 3: 4, 2: 2, 4: 1}

In [243]:
most_freq=max(dict, key=dict.get)
    
most_freq

3

In [244]:
dict[most_freq]

4

In [255]:
print(most_freq, dict[most_freq])

3 4

In [ ]:
## Nested Dictionary

In [262]:
d1 = {'a': 1, 'b': {'c': 2}}
d2 = d1.copy()

In [264]:
d2['b']['c'] = 3

In [265]:
print(d2['b']['c'])

3

In [ ]:
## Convert case using lambda and map function

In [269]:
name=['alice','akash','amit']

In [272]:
upper_name=list(map(lambda x : x.upper(),name))
upper_name

['ALICE', 'AKASH', 'AMIT']

In [ ]:
## Even numbers

In [ ]:
## short names

In [ ]:
## positive numbers

In [273]:
a = (1, [2, 3])

In [274]:
b=a

In [278]:
hex(id(b))

'0x7f2cfbf08380'

In [279]:

hex(id(a))

'0x7f2cfbf08380'

In [283]:
def tricky_function(lst):
    lst[0] = 99
    lst = lst +[4]
    return lst

my_list = [1, 2, 3]
new_list = tricky_function(my_list)
print(my_list)
print(new_list)

[99, 2, 3]
[99, 2, 3, 4]

In [ ]:
my list  99 2 3
 new lsit ==> 99 2 3 4

In [300]:
 
from functools import reduce
nums = [1, 2, 3, 4]
result = reduce(lambda x, y: x*y, nums)

In [302]:
results=lambda x,y,z,q: x+y+z+q
results(1,2,3,4)

In [304]:
results(1,2,3,4)

10

In [305]:
b=[x**2 for x in range(4)]

In [308]:
b

[0, 1, 4, 9]

In [321]:
lst=[]
for x in range(4):
    lst.append(x**2)

In [320]:
lst

[0, 1, 4, 9]

In [333]:
 
def large_str(lst):
    largest = lst[0]
    for element in lst:
        if element > largest:
            largest = element
    return largest
 
strings = ["apple", "jackfruit", "passionfruit", "bluecoracoo"]
largest_string = large_str(strings)
print("The largest string element : ", largest_string)

The largest string element :  apple

In [338]:
a=[10,20,30, 70, 60]
len(a)

5

In [336]:
len("What is the capital of France?")

30